.main {
  height: 100vw;
  padding: 1vh 10vw;
}

.page-title {
  font-size: 3vh;
}

.btn {
  background-color: gray;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.5vh 1vw;
  margin-top: 0.5vh;
  color: white;
}

.btn:hover {
  color: #000000;
}

.btn:active {
  background-color:#c0c0c0;
}

.report-column {
  border-bottom: 3px double grey;
  padding: 1.5vh 1vw 0vh 1vh;
  margin-top: 0.5vh;
  display: flex;
}

.report-column-title {
  width: 60vw;
}

.report-column-time {
  width: 40vw;
}

.column-title {
  font-size: 2vh;
}