* {
  box-sizing: border-box;
}

.top-page-header {
  display: flex;
  justify-content: space-between;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 2vw;
  background-color: #B0C4DE;
}

.nav-lists {
  display: flex;
}

.nav-link {
  text-decoration: none;
  padding: 0 2vw;
  color: #696969;
}

.nav-link:hover {
  color: #000000;
}