<div class= "main">
  <div class= "title-contents">
    <h1 class= "page-title">
    ユーザー一覧
    </h1>
  </div>
  <div class= "report-column">
    <div class= "report-column-title">
     <h1 class= "column-title">
     名前
     </h1>
    </div>
    <div class= "report-column-time">
     <h1 class= "column-title">
     登録日時
     </h1>
    </div>
  </div>
  <% @users.each do |user| %>
    <%= render partial: "shared/users", locals: { user: user } %>
  <% end %>
</div>