<div class='form-group'>
  <div class='form-text-wrap'>
    <label class="form-text">題名</label>
    <span class="indispensable">※３０文字以上不可</span>
  </div>
  <%= f.text_field :title, autofocus: true, class: 'form-control', id: 'report_title' %>
  <div class='form-text-wrap'>
    <label class="form-text">本文</label>
    <span class="indispensable">※５文字以上入力必須</span>
  </div>
  <%= f.text_area :text, rows: 5, class: 'form-control', id: 'report_text' %>
</div>