.main {
  height: 100vw;
  padding: 1vh 10vw;
}

.flash-tag {
  background-color: #e5fff2;
  border: 2px solid #006633;
  border-radius: 0.3em;
  padding: 1em;
}

.page-title {
  font-size: 3vh;
}

.search-group {
  padding: 0.5vh 1vw;
  display: flex;
}

.search-title {
  width: 15%;
  padding: 0.5vh 1vw;
}

.form-text {
  font-weight: bold;
}

.search-input {
  width: 100%;
  margin-left: 5h;
  padding: 0.5vh 1vw;
  border: 1px solid 696969;
  border-radius: 0.3em;
  background-color: #f5f5f5;
}

.search-btn {
  padding-bottom: 5vh;
}

.btn {
  background-color: gray;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.5vh 1vw;
  margin-top: 0.5vh;
  color: white;
}

.btn:hover {
  color: #000000;
}

.btn:active {
  background-color:#c0c0c0;
}

.report-column {
  border-bottom: 3px double grey;
  padding: 1.5vh 1vw 0vh 1vh;
  margin-top: 0.5vh;
  display: flex;
}

.report-column-title {
  width: 50vw;
}

.report-column-time {
  width: 50vw;
}

.column-title {
  font-size: 2vh;
}

.report-contents {
  display: flex;
  align-items: center;
  padding: 0.5vh 1vw;
  border-bottom: 2px dotted grey;
}

.report-contents-title {
  width: 39vw;
}

.show-link {
  text-decoration: none;
  color: #696969;
}

.show-link:hover {
  color: #000000;
}

 .link-btn {
  margin-left: 2.7vw;
}