<div class= "main">
  <div class= "title-contents">
    <h1 class= "page-title">
    日報の新規作成
    </h1>
  </div>
  <%= form_with model: @report, local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>
    <%= render partial: "shared/form", locals: { f: f } %>
    <%= f.submit "更新する", class: "btn" %>
  <% end %>
</div>