<div class= "main">
  <div class= "title-contents">
    <h1 class= "page-title">
    日報一覧
    </h1>
  </div>
  <%= link_to "新規作成", "#", class: "btn" %>
  <div class= "report-column">
    <div class= "report-column-title">
     <h1 class= "column-title">
     題名
     </h1>
    </div>
    <div class= "report-column-time">
     <h1 class= "column-title">
     作成日時
     </h1>
    </div>
  </div>
</div>